<ion-view view-title="Login" name="user-login-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>
    <div class="mini-text center-text grey-text">
      <span>
        Didn't have an account yet? <span class="ng-click" ng-click="goRegister()">Register</span> here
      </span>
      <div>
        <span class="ng-click" ng-click="goHome()">Keep Exploring</span> 
      </div>
    </div>
  </ion-content>
</ion-view>